*
{
    margin: 0 auto;

    font-family: sans-serif;
    
}

body
{
    background-color: rgb(19, 19, 19);
    color: white;
    overflow-x: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");




.navbar {
    position: absolute;
    width: 100%;
}

.nav-container {
    left: 0%;
    width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
  
}

.navbar .nav-container a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 150px;
  float: left;
  transition: 0.2s ease-in-out;
  border: 2px solid #060606 ;
 

}

.navbar .nav-container a:hover{
    transition: 0.2s ease-in-out;
    background-color: rgb(0, 10, 22);
    letter-spacing: 1px;
    border: 2px rgb(0, 84, 179) solid;

}

.nav-container {
  display: block;
  position: absolute;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  right: 15px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  right: 15px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #ffffff;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  height: 100vh;
  width: 100vw;
  transform: translate(150%);
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  display: flex;
  background-color: #060606;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;

  color: #ffffff;
}
 

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
  display: flex;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}
.nav-container input[type="checkbox"]:not(:checked) ~ .nav-container .hamburger-lines .line {

    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
  }


.wrapper {
    display: grid;
    place-items: right;
    font-size: 0.95rem;
  }
  
  .typing-demo {
    width: 17ch;
    animation: typing 2s steps(17), blink .5s step-end infinite alternate, unsetMargin 0s linear 2s forwards;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 2em;
  }

  .typing-demo {
    border-right: #ffffff solid 3px;
}

@keyframes unsetMargin {
    to {
        border-right: none;
    }
}


  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

header 
{
    float: left;
    width: 100%;
    background-color: rgb(19, 19, 19);
    margin-top: 100px;
    max-height: 600px;
    min-height: 500px;
}

.headertext
{
    margin-top: 30px;
    width: 90%;
    position: relative;
    height: 440px;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite, bg-spin 13s linear infinite;;
    border-radius: 20px;
    border: #1d46ff 2px solid;
    color: white;
    text-shadow: 0 1px 0 #000;
    
    --border-angle: 0turn;
    --main-bg: conic-gradient(
        from var(--border-angle),
        #131313,
        #131313 5%,
        #131313 60%,
        #131313 95%
      );
    
    border: solid 5px transparent;
    --gradient-border: conic-gradient(from var(--border-angle), 
    transparent 25%, rgb(0, 183, 255), rgb(191, 0, 255) 100%, rgb(72, 0, 255));
    
    background: 
      
      var(--main-bg) padding-box,
      var(--gradient-border) border-box, 
      var(--main-bg) border-box;
    background-position: center center;
  
    
}

.headertitle
{
    
    position: absolute;
    height: 15%;
    width: 100%;    
    font-weight: bold;
    font-size: 35px;
}

.headerspace
{
    position: absolute;
    top: 15%;
    left: 13px;
    right: 13px;
    height: 1%;
    background-color: white;
    border-radius: 20px
}
.headermessage
{
    position: absolute;
    width: 100%;
    top: 16%;
    height: 84%;
  
}

.headertext p

{
    margin: 13px;
}






    @keyframes bg-spin {
      to {
        --border-angle: 1turn;
      }
    }
  

  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
  







  

@keyframes float {
	0% {
		box-shadow: 0 5px 25px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}


.bg
{
    background-color: #131313;
    width: 100%;
    position: fixed;
    height: 60px;
    left: 0%;
    z-index: 10;
}

article
{
    position: absolute;
    top: 100%;
    left: 5%;
    width: 90%;
    height: 500px;
}